* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #355c7d, #6c5b7b, #c06c84);
  height: 100vh;
}

header {
  font-size: 1.5rem;
  color: #ffffff;
}

header,
form {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  border: none;
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem;
}

form input {
  width: 28%;
  text-align: center;
  color: #6c5b7b;
}

form button {
  color: #c06c84;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

.todolist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.todo {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  min-width: 20rem;
  margin: 0.5rem;
}

.todo li {
  flex: 1;
  padding: 0.5rem;
  color: #6c5b7b;
}

.todo button {
  padding: 0.5rem 0.85rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.tick {
  background-color: #355c7d;
}
.tick:hover,
.trash:hover {
  background-color: #000000;
}
.trash {
  background-color: #c06c84;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
